@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Sacramento&display=swap");

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p * {
  font-family: "Roboto", sans-serif;
}

h2 h3 * {
  font-family: "Roboto", sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../Images/HeaderBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar and logo hover effect */

.effect {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.logo a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 10vw;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 1rem 1rem;
}

nav a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 1.5px;
}

/* Navbar and logo hover effect */

.effect:hover,
.effect:hover a {
  background-color: white;
  color: black;
}

/* Navitem hover effect */

.home:hover {
  opacity: 70%;
}

/* Navitem hover effect */

.contactnav:hover {
  opacity: 70%;
}

.intro {
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(250, 249, 246, 0.35);
  padding-top: 5rem;
}

.name {
  padding-bottom: 3rem;
  font-size: 2rem;
}

.line {
  text-decoration: underline;
}

.name h1 {
  font-family: "Sacramento", cursive;
  padding-bottom: 1.5rem;
  font-size: 4rem;
}

.intro img {
  border-radius: 50%;
  width: 250px;
}

.hello {
  display: block;
  width: 40%;
  margin: auto;
  line-height: 1.5;
  padding-top: 1.5rem;
}

.hello a {
  font-family: "Roboto", sans-serif;
}

.skills {
  text-align: center;
  background-color: rgb(250, 249, 246, 0.35);
  font-size: 1.5rem;
  padding-top: 5rem;
}

.skillsP {
  display: block;
  width: 55%;
  margin: auto;
  padding-top: 1.5rem;
  text-align: justify;
}

hr {
  border: dotted rgba(0, 0, 0, 0.5) 5px;
  border-bottom: none;
  width: 5%;
  margin: 0 auto;
  margin-top: 100px;
}

.contact {
  text-align: center;
  background-color: rgb(250, 249, 246, 0.35);
  font-size: 1.5rem;
  padding-top: 5rem;
  margin-bottom: 100px;
}

.contact h4 {
  padding: 3rem;
}

.btn {
  text-decoration: none;
  background-color: rgb(24, 134, 84);
  padding: 15px;
  border-radius: 6%;
  color: white;
  margin: auto;
}

.btn:hover {
  background-color: rgb(24, 134, 84, 0.9);
  color: rgb(250, 249, 246);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer {
  background-color: rgb(24, 134, 84);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

footer a {
  text-decoration: none;
}

footer a img {
  width: 3%;
  border-radius: 50%;
  margin: 15px;
}

footer a:hover {
  opacity: 50%;
  transition: 0.3s ease;
}

/* Mobile Phone CSS */

@media (max-width: 576px) {
  header {
    height: 40vh;
  }

  .logo a {
    font-size: 13vw;
    padding: 0;
    margin-top: 1.5rem;
  }

  nav a {
    font-size: 1rem;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .effect:hover,
  .effect:hover a {
    background-color: rgba(0, 0, 0, 0.01);
    color: white;
  }

  .intro p {
    font-size: 1.2rem;
  }

  .hello {
    width: 80%;
  }

  .intro img {
    width: 150px;
  }

  .skills * {
    font-size: 1.2rem;
  }

  .skillsP {
    width: 90%;
  }

  .contact {
    font-size: 1.2rem;
  }

  footer {
    flex-direction: column;
  }

  footer a img {
    width: 10%;
  }
}

/* Tabs and Tablest CSS */

@media (min-width: 577px) and (max-width: 992px) {
  header {
    height: 40vh;
  }

  .logo a {
    font-size: 13vw;
  }

  .effect:hover,
  .effect:hover a {
    background-color: rgba(0, 0, 0, 0.01);
    color: white;
  }

  .intro p {
    font-size: 1.2rem;
  }

  .hello {
    width: 80%;
  }

  .intro img {
    width: 150px;
  }

  .skills * {
    font-size: 1.2rem;
  }

  .skillsP {
    width: 90%;
  }

  .contact {
    font-size: 1.2rem;
  }

  footer {
    flex-direction: column;
  }

  footer a img {
    width: 6%;
  }
}
